<%- include ("../../partials/header.ejs") %>
<%- include ("../../partials/navbar.ejs") %>

<body>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h3>Editar Artigo</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/articles/update">
                    <input type="text" name="title" placeholder="Defina o título do artigo" class="form-control"
                        value="<%= article.title %>">
                    <br>
                    <textarea name="body" class="form-control" placeholder="Escreva o artigo aqui"
                        id="article"><%- article.body %></textarea>
                    <br>
                    <label>Categoria:</label>
                    <select name="category" class="form-control">
                        <% category.forEach((category) => { %>
                        <% if(category.id == article.categoryId) { %>
                        <option value="<%= category.id %>" selected><%= category.title %></option>
                        <% } else { %>
                        <option value="<%= category.id %>"><%= category.title %></option>
                        <% } %>
                        <% }); %>
                    </select>
                    <br>
                    <input type="hidden" name="id" value="<%= article.id %>">
                    <button class="btn btn-success">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</body>

<%- include ("../../partials/footer.ejs") %>

<script src="/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        language: 'pt_BR',
        selector: '#article',
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount' +
            'fullscreen insertdatetime media save table paste emoticons'
        ]
    });
</script>