<%- include ("partials/header.ejs") %>
<%- include ("partials/homenavbar.ejs") %>

<body>
    <div class="container">
        <hr>
        <div class="jumbotron">
            <h1 class="display-4">Bem-vindo</h1>
            <p class="lead">Este é um simples blog do guia do programador</p>
            <hr class="my-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas earum reiciendis repellendus nulla quia?
                Voluptate, inventore ipsam unde laboriosam quis consequuntur. Numquam facilis ducimus sunt, tempora
                ratione libero laborum corrupti.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Leia mais</a>
        </div>
        <hr>
        <% articles.forEach(article => { %>
        <div class="card">
            <div class="card-header">
                <h2><%= article.title %></h2>
            </div>
            <div class="card-body">
                <a href="/<%= article.slug %>" class="btn btn-success">Ler artigo</a>
            </div>
        </div>
        <br>
        <% }) %>

        <div class="row">
            <div class="col col-12">
                <a href="/articles/page/2" style="float: right;">Proximo</a>
            </div>
        </div>
        <hr>
    </div>
</body>

<%- include ("partials/footer.ejs") %>